# Student Alcohol Consumption

### Introduction:

This time you will download a dataset from the UCI.

### Step 1. Import the necessary libraries

In [2]:
import numpy as np
import pandas as pd

### Step 2. Import the dataset from this [address](https://github.com/guipsamora/pandas_exercises/blob/master/04_Apply/Students_Alcohol_Consumption/student-mat.csv).

### Step 3. Assign it to a variable called df.

In [5]:
httml = 'https://github.com/guipsamora/pandas_exercises/blob/master/04_Apply/Students_Alcohol_Consumption/student-mat.csv'
httml = 'https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/04_Apply/Students_Alcohol_Consumption/student-mat.csv'
df = pd.read_csv(httml)

### Step 4. For the purpose of this exercise slice the dataframe from 'school' until the 'guardian' column

In [9]:
df.loc[:, 'school':'guardian']

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>school</th>
      <th>sex</th>
      <th>age</th>
      <th>address</th>
      <th>famsize</th>
      <th>Pstatus</th>
      <th>Medu</th>
      <th>Fedu</th>
      <th>Mjob</th>
      <th>Fjob</th>
      <th>reason</th>
      <th>guardian</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>GP</td>
      <td>F</td>
      <td>18</td>
      <td>U</td>
      <td>GT3</td>
      <td>A</td>
      <td>4</td>
      <td>4</td>
      <td>at_home</td>
      <td>teacher</td>
      <td>course</td>
      <td>mother</td>
    </tr>
    <tr>
      <th>1</th>
      <td>GP</td>
      <td>F</td>
      <td>17</td>
      <td>U</td>
      <td>GT3</td>
      <td>T</td>
      <td>1</td>
      <td>1</td>
      <td>at_home</td>
      <td>other</td>
      <td>course</td>
      <td>father</td>
    </tr>
    <tr>
      <th>2</th>
      <td>GP</td>
      <td>F</td>
      <td>15</td>
      <td>U</td>
      <td>LE3</td>
      <td>T</td>
      <td>1</td>
      <td>1</td>
      <td>at_home</td>
      <td>other</td>
      <td>other</td>
      <td>mother</td>
    </tr>
    <tr>
      <th>3</th>
      <td>GP</td>
      <td>F</td>
      <td>15</td>
      <td>U</td>
      <td>GT3</td>
      <td>T</td>
      <td>4</td>
      <td>2</td>
      <td>health</td>
      <td>services</td>
      <td>home</td>
      <td>mother</td>
    </tr>
    <tr>
      <th>4</th>
      <td>GP</td>
      <td>F</td>
      <td>16</td>
      <td>U</td>
      <td>GT3</td>
      <td>T</td>
      <td>3</td>
      <td>3</td>
      <td>other</td>
      <td>other</td>
      <td>home</td>
      <td>father</td>
    </tr>
    <tr>
      <th>5</th>
      <td>GP</td>
      <td>M</td>
      <td>16</td>
      <td>U</td>
      <td>LE3</td>
      <td>T</td>
      <td>4</td>
      <td>3</td>
      <td>services</td>
      <td>other</td>
      <td>reputation</td>
      <td>mother</td>
    </tr>
    <tr>
      <th>6</th>
      <td>GP</td>
      <td>M</td>
      <td>16</td>
      <td>U</td>
      <td>LE3</td>
      <td>T</td>
      <td>2</td>
      <td>2</td>
      <td>other</td>
      <td>other</td>
      <td>home</td>
      <td>mother</td>
    </tr>
    <tr>
      <th>7</th>
      <td>GP</td>
      <td>F</td>
      <td>17</td>
      <td>U</td>
      <td>GT3</td>
      <td>A</td>
      <td>4</td>
      <td>4</td>
      <td>other</td>
      <td>teacher</td>
      <td>home</td>
      <td>mother</td>
    </tr>
    <tr>
      <th>8</th>
      <td>GP</td>
      <td>M</td>
      <td>15</td>
      <td>U</td>
      <td>LE3</td>
      <td>A</td>
      <td>3</td>
      <td>2</td>
      <td>services</td>
      <td>other</td>
      <td>home</td>
      <td>mother</td>
    </tr>
    <tr>
      <th>9</th>
      <td>GP</td>
      <td>M</td>
      <td>15</td>
      <td>U</td>
      <td>GT3</td>
      <td>T</td>
      <td>3</td>
      <td>4</td>
      <td>other</td>
      <td>other</td>
      <td>home</td>
      <td>mother</td>
    </tr>
    <tr>
      <th>10</th>
      <td>GP</td>
      <td>F</td>
      <td>15</td>
      <td>U</td>
      <td>GT3</td>
      <td>T</td>
      <td>4</td>
      <td>4</td>
      <td>teacher</td>
      <td>health</td>
      <td>reputation</td>
      <td>mother</td>
    </tr>
    <tr>
      <th>11</th>
      <td>GP</td>
      <td>F</td>
      <td>15</td>
      <td>U</td>
      <td>GT3</td>
      <td>T</td>
      <td>2</td>
      <td>1</td>
      <td>services</td>
      <td>other</td>
      <td>reputation</td>
      <td>father</td>
    </tr>
    <tr>
      <th>12</th>
      <td>GP</td>
      <td>M</td>
      <td>15</td>
      <td>U</td>
      <td>LE3</td>
      <td>T</td>
      <td>4</td>
      <td>4</td>
      <td>health</td>
      <td>services</td>
      <td>course</td>
      <td>father</td>
    </tr>
    <tr>
      <th>13</th>
      <td>GP</td>
      <td>M</td>
      <td>15</td>
      <td>U</td>
      <td>GT3</td>
      <td>T</td>
      <td>4</td>
      <td>3</td>
      <td>teacher</td>
      <td>other</td>
      <td>course</td>
      <td>mother</td>
    </tr>
    <tr>
      <th>14</th>
      <td>GP</td>
      <td>M</td>
      <td>15</td>
      <td>U</td>
      <td>GT3</td>
      <td>A</td>
      <td>2</td>
      <td>2</td>
      <td>other</td>
      <td>other</td>
      <td>home</td>
      <td>other</td>
    </tr>
    <tr>
      <th>15</th>
      <td>GP</td>
      <td>F</td>
      <td>16</td>
      <td>U</td>
      <td>GT3</td>
      <td>T</td>
      <td>4</td>
      <td>4</td>
      <td>health</td>
      <td>other</td>
      <td>home</td>
      <td>mother</td>
    </tr>
    <tr>
      <th>16</th>
      <td>GP</td>
      <td>F</td>
      <td>16</td>
      <td>U</td>
      <td>GT3</td>
      <td>T</td>
      <td>4</td>
      <td>4</td>
      <td>services</td>
      <td>services</td>
      <td>reputation</td>
      <td>mother</td>
    </tr>
    <tr>
      <th>17</th>
      <td>GP</td>
      <td>F</td>
      <td>16</td>
      <td>U</td>
      <td>GT3</td>
      <td>T</td>
      <td>3</td>
      <td>3</td>
      <td>other</td>
      <td>other</td>
      <td>reputation</td>
      <td>mother</td>
    </tr>
    <tr>
      <th>18</th>
      <td>GP</td>
      <td>M</td>
      <td>17</td>
      <td>U</td>
      <td>GT3</td>
      <td>T</td>
      <td>3</td>
      <td>2</td>
      <td>services</td>
      <td>services</td>
      <td>course</td>
      <td>mother</td>
    </tr>
    <tr>
      <th>19</th>
      <td>GP</td>
      <td>M</td>
      <td>16</td>
      <td>U</td>
      <td>LE3</td>
      <td>T</td>
      <td>4</td>
      <td>3</td>
      <td>health</td>
      <td>other</td>
      <td>home</td>
      <td>father</td>
    </tr>
    <tr>
      <th>20</th>
      <td>GP</td>
      <td>M</td>
      <td>15</td>
      <td>U</td>
      <td>GT3</td>
      <td>T</td>
      <td>4</td>
      <td>3</td>
      <td>teacher</td>
      <td>other</td>
      <td>reputation</td>
      <td>mother</td>
    </tr>
    <tr>
      <th>21</th>
      <td>GP</td>
      <td>M</td>
      <td>15</td>
      <td>U</td>
      <td>GT3</td>
      <td>T</td>
      <td>4</td>
      <td>4</td>
      <td>health</td>
      <td>health</td>
      <td>other</td>
      <td>father</td>
    </tr>
    <tr>
      <th>22</th>
      <td>GP</td>
      <td>M</td>
      <td>16</td>
      <td>U</td>
      <td>LE3</td>
      <td>T</td>
      <td>4</td>
      <td>2</td>
      <td>teacher</td>
      <td>other</td>
      <td>course</td>
      <td>mother</td>
    </tr>
    <tr>
      <th>23</th>
      <td>GP</td>
      <td>M</td>
      <td>16</td>
      <td>U</td>
      <td>LE3</td>
      <td>T</td>
      <td>2</td>
      <td>2</td>
      <td>other</td>
      <td>other</td>
      <td>reputation</td>
      <td>mother</td>
    </tr>
    <tr>
      <th>24</th>
      <td>GP</td>
      <td>F</td>
      <td>15</td>
      <td>R</td>
      <td>GT3</td>
      <td>T</td>
      <td>2</td>
      <td>4</td>
      <td>services</td>
      <td>health</td>
      <td>course</td>
      <td>mother</td>
    </tr>
    <tr>
      <th>25</th>
      <td>GP</td>
      <td>F</td>
      <td>16</td>
      <td>U</td>
      <td>GT3</td>
      <td>T</td>
      <td>2</td>
      <td>2</td>
      <td>services</td>
      <td>services</td>
      <td>home</td>
      <td>mother</td>
    </tr>
    <tr>
      <th>26</th>
      <td>GP</td>
      <td>M</td>
      <td>15</td>
      <td>U</td>
      <td>GT3</td>
      <td>T</td>
      <td>2</td>
      <td>2</td>
      <td>other</td>
      <td>other</td>
      <td>home</td>
      <td>mother</td>
    </tr>
    <tr>
      <th>27</th>
      <td>GP</td>
      <td>M</td>
      <td>15</td>
      <td>U</td>
      <td>GT3</td>
      <td>T</td>
      <td>4</td>
      <td>2</td>
      <td>health</td>
      <td>services</td>
      <td>other</td>
      <td>mother</td>
    </tr>
    <tr>
      <th>28</th>
      <td>GP</td>
      <td>M</td>
      <td>16</td>
      <td>U</td>
      <td>LE3</td>
      <td>A</td>
      <td>3</td>
      <td>4</td>
      <td>services</td>
      <td>other</td>
      <td>home</td>
      <td>mother</td>
    </tr>
    <tr>
      <th>29</th>
      <td>GP</td>
      <td>M</td>
      <td>16</td>
      <td>U</td>
      <td>GT3</td>
      <td>T</td>
      <td>4</td>
      <td>4</td>
      <td>teacher</td>
      <td>teacher</td>
      <td>home</td>
      <td>mother</td>
    </tr>
    <tr>
      <th>...</th>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
    </tr>
    <tr>
      <th>365</th>
      <td>MS</td>
      <td>M</td>
      <td>18</td>
      <td>R</td>
      <td>GT3</td>
      <td>T</td>
      <td>1</td>
      <td>3</td>
      <td>at_home</td>
      <td>other</td>
      <td>course</td>
      <td>mother</td>
    </tr>
    <tr>
      <th>366</th>
      <td>MS</td>
      <td>M</td>
      <td>18</td>
      <td>U</td>
      <td>LE3</td>
      <td>T</td>
      <td>4</td>
      <td>4</td>
      <td>teacher</td>
      <td>services</td>
      <td>other</td>
      <td>mother</td>
    </tr>
    <tr>
      <th>367</th>
      <td>MS</td>
      <td>F</td>
      <td>17</td>
      <td>R</td>
      <td>GT3</td>
      <td>T</td>
      <td>1</td>
      <td>1</td>
      <td>other</td>
      <td>services</td>
      <td>reputation</td>
      <td>mother</td>
    </tr>
    <tr>
      <th>368</th>
      <td>MS</td>
      <td>F</td>
      <td>18</td>
      <td>U</td>
      <td>GT3</td>
      <td>T</td>
      <td>2</td>
      <td>3</td>
      <td>at_home</td>
      <td>services</td>
      <td>course</td>
      <td>father</td>
    </tr>
    <tr>
      <th>369</th>
      <td>MS</td>
      <td>F</td>
      <td>18</td>
      <td>R</td>
      <td>GT3</td>
      <td>T</td>
      <td>4</td>
      <td>4</td>
      <td>other</td>
      <td>teacher</td>
      <td>other</td>
      <td>father</td>
    </tr>
    <tr>
      <th>370</th>
      <td>MS</td>
      <td>F</td>
      <td>19</td>
      <td>U</td>
      <td>LE3</td>
      <td>T</td>
      <td>3</td>
      <td>2</td>
      <td>services</td>
      <td>services</td>
      <td>home</td>
      <td>other</td>
    </tr>
    <tr>
      <th>371</th>
      <td>MS</td>
      <td>M</td>
      <td>18</td>
      <td>R</td>
      <td>LE3</td>
      <td>T</td>
      <td>1</td>
      <td>2</td>
      <td>at_home</td>
      <td>services</td>
      <td>other</td>
      <td>father</td>
    </tr>
    <tr>
      <th>372</th>
      <td>MS</td>
      <td>F</td>
      <td>17</td>
      <td>U</td>
      <td>GT3</td>
      <td>T</td>
      <td>2</td>
      <td>2</td>
      <td>other</td>
      <td>at_home</td>
      <td>home</td>
      <td>mother</td>
    </tr>
    <tr>
      <th>373</th>
      <td>MS</td>
      <td>F</td>
      <td>17</td>
      <td>R</td>
      <td>GT3</td>
      <td>T</td>
      <td>1</td>
      <td>2</td>
      <td>other</td>
      <td>other</td>
      <td>course</td>
      <td>mother</td>
    </tr>
    <tr>
      <th>374</th>
      <td>MS</td>
      <td>F</td>
      <td>18</td>
      <td>R</td>
      <td>LE3</td>
      <td>T</td>
      <td>4</td>
      <td>4</td>
      <td>other</td>
      <td>other</td>
      <td>reputation</td>
      <td>mother</td>
    </tr>
    <tr>
      <th>375</th>
      <td>MS</td>
      <td>F</td>
      <td>18</td>
      <td>R</td>
      <td>GT3</td>
      <td>T</td>
      <td>1</td>
      <td>1</td>
      <td>other</td>
      <td>other</td>
      <td>home</td>
      <td>mother</td>
    </tr>
    <tr>
      <th>376</th>
      <td>MS</td>
      <td>F</td>
      <td>20</td>
      <td>U</td>
      <td>GT3</td>
      <td>T</td>
      <td>4</td>
      <td>2</td>
      <td>health</td>
      <td>other</td>
      <td>course</td>
      <td>other</td>
    </tr>
    <tr>
      <th>377</th>
      <td>MS</td>
      <td>F</td>
      <td>18</td>
      <td>R</td>
      <td>LE3</td>
      <td>T</td>
      <td>4</td>
      <td>4</td>
      <td>teacher</td>
      <td>services</td>
      <td>course</td>
      <td>mother</td>
    </tr>
    <tr>
      <th>378</th>
      <td>MS</td>
      <td>F</td>
      <td>18</td>
      <td>U</td>
      <td>GT3</td>
      <td>T</td>
      <td>3</td>
      <td>3</td>
      <td>other</td>
      <td>other</td>
      <td>home</td>
      <td>mother</td>
    </tr>
    <tr>
      <th>379</th>
      <td>MS</td>
      <td>F</td>
      <td>17</td>
      <td>R</td>
      <td>GT3</td>
      <td>T</td>
      <td>3</td>
      <td>1</td>
      <td>at_home</td>
      <td>other</td>
      <td>reputation</td>
      <td>mother</td>
    </tr>
    <tr>
      <th>380</th>
      <td>MS</td>
      <td>M</td>
      <td>18</td>
      <td>U</td>
      <td>GT3</td>
      <td>T</td>
      <td>4</td>
      <td>4</td>
      <td>teacher</td>
      <td>teacher</td>
      <td>home</td>
      <td>father</td>
    </tr>
    <tr>
      <th>381</th>
      <td>MS</td>
      <td>M</td>
      <td>18</td>
      <td>R</td>
      <td>GT3</td>
      <td>T</td>
      <td>2</td>
      <td>1</td>
      <td>other</td>
      <td>other</td>
      <td>other</td>
      <td>mother</td>
    </tr>
    <tr>
      <th>382</th>
      <td>MS</td>
      <td>M</td>
      <td>17</td>
      <td>U</td>
      <td>GT3</td>
      <td>T</td>
      <td>2</td>
      <td>3</td>
      <td>other</td>
      <td>services</td>
      <td>home</td>
      <td>father</td>
    </tr>
    <tr>
      <th>383</th>
      <td>MS</td>
      <td>M</td>
      <td>19</td>
      <td>R</td>
      <td>GT3</td>
      <td>T</td>
      <td>1</td>
      <td>1</td>
      <td>other</td>
      <td>services</td>
      <td>other</td>
      <td>mother</td>
    </tr>
    <tr>
      <th>384</th>
      <td>MS</td>
      <td>M</td>
      <td>18</td>
      <td>R</td>
      <td>GT3</td>
      <td>T</td>
      <td>4</td>
      <td>2</td>
      <td>other</td>
      <td>other</td>
      <td>home</td>
      <td>father</td>
    </tr>
    <tr>
      <th>385</th>
      <td>MS</td>
      <td>F</td>
      <td>18</td>
      <td>R</td>
      <td>GT3</td>
      <td>T</td>
      <td>2</td>
      <td>2</td>
      <td>at_home</td>
      <td>other</td>
      <td>other</td>
      <td>mother</td>
    </tr>
    <tr>
      <th>386</th>
      <td>MS</td>
      <td>F</td>
      <td>18</td>
      <td>R</td>
      <td>GT3</td>
      <td>T</td>
      <td>4</td>
      <td>4</td>
      <td>teacher</td>
      <td>at_home</td>
      <td>reputation</td>
      <td>mother</td>
    </tr>
    <tr>
      <th>387</th>
      <td>MS</td>
      <td>F</td>
      <td>19</td>
      <td>R</td>
      <td>GT3</td>
      <td>T</td>
      <td>2</td>
      <td>3</td>
      <td>services</td>
      <td>other</td>
      <td>course</td>
      <td>mother</td>
    </tr>
    <tr>
      <th>388</th>
      <td>MS</td>
      <td>F</td>
      <td>18</td>
      <td>U</td>
      <td>LE3</td>
      <td>T</td>
      <td>3</td>
      <td>1</td>
      <td>teacher</td>
      <td>services</td>
      <td>course</td>
      <td>mother</td>
    </tr>
    <tr>
      <th>389</th>
      <td>MS</td>
      <td>F</td>
      <td>18</td>
      <td>U</td>
      <td>GT3</td>
      <td>T</td>
      <td>1</td>
      <td>1</td>
      <td>other</td>
      <td>other</td>
      <td>course</td>
      <td>mother</td>
    </tr>
    <tr>
      <th>390</th>
      <td>MS</td>
      <td>M</td>
      <td>20</td>
      <td>U</td>
      <td>LE3</td>
      <td>A</td>
      <td>2</td>
      <td>2</td>
      <td>services</td>
      <td>services</td>
      <td>course</td>
      <td>other</td>
    </tr>
    <tr>
      <th>391</th>
      <td>MS</td>
      <td>M</td>
      <td>17</td>
      <td>U</td>
      <td>LE3</td>
      <td>T</td>
      <td>3</td>
      <td>1</td>
      <td>services</td>
      <td>services</td>
      <td>course</td>
      <td>mother</td>
    </tr>
    <tr>
      <th>392</th>
      <td>MS</td>
      <td>M</td>
      <td>21</td>
      <td>R</td>
      <td>GT3</td>
      <td>T</td>
      <td>1</td>
      <td>1</td>
      <td>other</td>
      <td>other</td>
      <td>course</td>
      <td>other</td>
    </tr>
    <tr>
      <th>393</th>
      <td>MS</td>
      <td>M</td>
      <td>18</td>
      <td>R</td>
      <td>LE3</td>
      <td>T</td>
      <td>3</td>
      <td>2</td>
      <td>services</td>
      <td>other</td>
      <td>course</td>
      <td>mother</td>
    </tr>
    <tr>
      <th>394</th>
      <td>MS</td>
      <td>M</td>
      <td>19</td>
      <td>U</td>
      <td>LE3</td>
      <td>T</td>
      <td>1</td>
      <td>1</td>
      <td>other</td>
      <td>at_home</td>
      <td>course</td>
      <td>father</td>
    </tr>
  </tbody>
</table>
<p>395 rows × 12 columns</p>
</div>

### Step 5. Create a lambda function that captalize strings.

In [35]:
capitalizer = lambda x: x.upper()

### Step 6. Capitalize both Mjob and Fjob

In [38]:
df.Mjob.apply(capitalizer)
df.Fjob.apply(capitalizer)

0       TEACHER
1         OTHER
2         OTHER
3      SERVICES
4         OTHER
5         OTHER
6         OTHER
7       TEACHER
8         OTHER
9         OTHER
10       HEALTH
11        OTHER
12     SERVICES
13        OTHER
14        OTHER
15        OTHER
16     SERVICES
17        OTHER
18     SERVICES
19        OTHER
20        OTHER
21       HEALTH
22        OTHER
23        OTHER
24       HEALTH
25     SERVICES
26        OTHER
27     SERVICES
28        OTHER
29      TEACHER
         ...
365       OTHER
366    SERVICES
367    SERVICES
368    SERVICES
369     TEACHER
370    SERVICES
371    SERVICES
372     AT_HOME
373       OTHER
374       OTHER
375       OTHER
376       OTHER
377    SERVICES
378       OTHER
379       OTHER
380     TEACHER
381       OTHER
382    SERVICES
383    SERVICES
384       OTHER
385       OTHER
386     AT_HOME
387       OTHER
388    SERVICES
389       OTHER
390    SERVICES
391    SERVICES
392       OTHER
393       OTHER
394     AT_HOME
Name: Fjob, Length: 395, dtype: object

### Step 7. Print the last elements of the data set.

In [40]:
df.tail(5).transpose()

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>390</th>
      <th>391</th>
      <th>392</th>
      <th>393</th>
      <th>394</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>school</th>
      <td>MS</td>
      <td>MS</td>
      <td>MS</td>
      <td>MS</td>
      <td>MS</td>
    </tr>
    <tr>
      <th>sex</th>
      <td>M</td>
      <td>M</td>
      <td>M</td>
      <td>M</td>
      <td>M</td>
    </tr>
    <tr>
      <th>age</th>
      <td>20</td>
      <td>17</td>
      <td>21</td>
      <td>18</td>
      <td>19</td>
    </tr>
    <tr>
      <th>address</th>
      <td>U</td>
      <td>U</td>
      <td>R</td>
      <td>R</td>
      <td>U</td>
    </tr>
    <tr>
      <th>famsize</th>
      <td>LE3</td>
      <td>LE3</td>
      <td>GT3</td>
      <td>LE3</td>
      <td>LE3</td>
    </tr>
    <tr>
      <th>Pstatus</th>
      <td>A</td>
      <td>T</td>
      <td>T</td>
      <td>T</td>
      <td>T</td>
    </tr>
    <tr>
      <th>Medu</th>
      <td>2</td>
      <td>3</td>
      <td>1</td>
      <td>3</td>
      <td>1</td>
    </tr>
    <tr>
      <th>Fedu</th>
      <td>2</td>
      <td>1</td>
      <td>1</td>
      <td>2</td>
      <td>1</td>
    </tr>
    <tr>
      <th>Mjob</th>
      <td>services</td>
      <td>services</td>
      <td>other</td>
      <td>services</td>
      <td>other</td>
    </tr>
    <tr>
      <th>Fjob</th>
      <td>services</td>
      <td>services</td>
      <td>other</td>
      <td>other</td>
      <td>at_home</td>
    </tr>
    <tr>
      <th>reason</th>
      <td>course</td>
      <td>course</td>
      <td>course</td>
      <td>course</td>
      <td>course</td>
    </tr>
    <tr>
      <th>guardian</th>
      <td>other</td>
      <td>mother</td>
      <td>other</td>
      <td>mother</td>
      <td>father</td>
    </tr>
    <tr>
      <th>traveltime</th>
      <td>1</td>
      <td>2</td>
      <td>1</td>
      <td>3</td>
      <td>1</td>
    </tr>
    <tr>
      <th>studytime</th>
      <td>2</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
    </tr>
    <tr>
      <th>failures</th>
      <td>2</td>
      <td>0</td>
      <td>3</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>schoolsup</th>
      <td>no</td>
      <td>no</td>
      <td>no</td>
      <td>no</td>
      <td>no</td>
    </tr>
    <tr>
      <th>famsup</th>
      <td>yes</td>
      <td>no</td>
      <td>no</td>
      <td>no</td>
      <td>no</td>
    </tr>
    <tr>
      <th>paid</th>
      <td>yes</td>
      <td>no</td>
      <td>no</td>
      <td>no</td>
      <td>no</td>
    </tr>
    <tr>
      <th>activities</th>
      <td>no</td>
      <td>no</td>
      <td>no</td>
      <td>no</td>
      <td>no</td>
    </tr>
    <tr>
      <th>nursery</th>
      <td>yes</td>
      <td>no</td>
      <td>no</td>
      <td>no</td>
      <td>yes</td>
    </tr>
    <tr>
      <th>higher</th>
      <td>yes</td>
      <td>yes</td>
      <td>yes</td>
      <td>yes</td>
      <td>yes</td>
    </tr>
    <tr>
      <th>internet</th>
      <td>no</td>
      <td>yes</td>
      <td>no</td>
      <td>yes</td>
      <td>yes</td>
    </tr>
    <tr>
      <th>romantic</th>
      <td>no</td>
      <td>no</td>
      <td>no</td>
      <td>no</td>
      <td>no</td>
    </tr>
    <tr>
      <th>famrel</th>
      <td>5</td>
      <td>2</td>
      <td>5</td>
      <td>4</td>
      <td>3</td>
    </tr>
    <tr>
      <th>freetime</th>
      <td>5</td>
      <td>4</td>
      <td>5</td>
      <td>4</td>
      <td>2</td>
    </tr>
    <tr>
      <th>goout</th>
      <td>4</td>
      <td>5</td>
      <td>3</td>
      <td>1</td>
      <td>3</td>
    </tr>
    <tr>
      <th>Dalc</th>
      <td>4</td>
      <td>3</td>
      <td>3</td>
      <td>3</td>
      <td>3</td>
    </tr>
    <tr>
      <th>Walc</th>
      <td>5</td>
      <td>4</td>
      <td>3</td>
      <td>4</td>
      <td>3</td>
    </tr>
    <tr>
      <th>health</th>
      <td>4</td>
      <td>2</td>
      <td>3</td>
      <td>5</td>
      <td>5</td>
    </tr>
    <tr>
      <th>absences</th>
      <td>11</td>
      <td>3</td>
      <td>3</td>
      <td>0</td>
      <td>5</td>
    </tr>
    <tr>
      <th>G1</th>
      <td>9</td>
      <td>14</td>
      <td>10</td>
      <td>11</td>
      <td>8</td>
    </tr>
    <tr>
      <th>G2</th>
      <td>9</td>
      <td>16</td>
      <td>8</td>
      <td>12</td>
      <td>9</td>
    </tr>
    <tr>
      <th>G3</th>
      <td>9</td>
      <td>16</td>
      <td>7</td>
      <td>10</td>
      <td>9</td>
    </tr>
  </tbody>
</table>
</div>

### Step 8. Did you notice the original dataframe is still lowercase? Why is that? Fix it and captalize Mjob and Fjob.

In [43]:
df['Mjob'] = df.Mjob.apply(capitalizer)
df['Fjob'] = df.Fjob.apply(capitalizer)

### Step 9. Create a function called majority that return a boolean value to a new column called legal_drinker

In [44]:
def majority(x):
    if x >= 18:
        return 1
    else:
        return 0
df['legal_drinker'] = df.age.apply(majority)

In [46]:
df.loc[:, ['age', 'legal_drinker']]

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>age</th>
      <th>legal_drinker</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>18</td>
      <td>1</td>
    </tr>
    <tr>
      <th>1</th>
      <td>17</td>
      <td>0</td>
    </tr>
    <tr>
      <th>2</th>
      <td>15</td>
      <td>0</td>
    </tr>
    <tr>
      <th>3</th>
      <td>15</td>
      <td>0</td>
    </tr>
    <tr>
      <th>4</th>
      <td>16</td>
      <td>0</td>
    </tr>
    <tr>
      <th>5</th>
      <td>16</td>
      <td>0</td>
    </tr>
    <tr>
      <th>6</th>
      <td>16</td>
      <td>0</td>
    </tr>
    <tr>
      <th>7</th>
      <td>17</td>
      <td>0</td>
    </tr>
    <tr>
      <th>8</th>
      <td>15</td>
      <td>0</td>
    </tr>
    <tr>
      <th>9</th>
      <td>15</td>
      <td>0</td>
    </tr>
    <tr>
      <th>10</th>
      <td>15</td>
      <td>0</td>
    </tr>
    <tr>
      <th>11</th>
      <td>15</td>
      <td>0</td>
    </tr>
    <tr>
      <th>12</th>
      <td>15</td>
      <td>0</td>
    </tr>
    <tr>
      <th>13</th>
      <td>15</td>
      <td>0</td>
    </tr>
    <tr>
      <th>14</th>
      <td>15</td>
      <td>0</td>
    </tr>
    <tr>
      <th>15</th>
      <td>16</td>
      <td>0</td>
    </tr>
    <tr>
      <th>16</th>
      <td>16</td>
      <td>0</td>
    </tr>
    <tr>
      <th>17</th>
      <td>16</td>
      <td>0</td>
    </tr>
    <tr>
      <th>18</th>
      <td>17</td>
      <td>0</td>
    </tr>
    <tr>
      <th>19</th>
      <td>16</td>
      <td>0</td>
    </tr>
    <tr>
      <th>20</th>
      <td>15</td>
      <td>0</td>
    </tr>
    <tr>
      <th>21</th>
      <td>15</td>
      <td>0</td>
    </tr>
    <tr>
      <th>22</th>
      <td>16</td>
      <td>0</td>
    </tr>
    <tr>
      <th>23</th>
      <td>16</td>
      <td>0</td>
    </tr>
    <tr>
      <th>24</th>
      <td>15</td>
      <td>0</td>
    </tr>
    <tr>
      <th>25</th>
      <td>16</td>
      <td>0</td>
    </tr>
    <tr>
      <th>26</th>
      <td>15</td>
      <td>0</td>
    </tr>
    <tr>
      <th>27</th>
      <td>15</td>
      <td>0</td>
    </tr>
    <tr>
      <th>28</th>
      <td>16</td>
      <td>0</td>
    </tr>
    <tr>
      <th>29</th>
      <td>16</td>
      <td>0</td>
    </tr>
    <tr>
      <th>...</th>
      <td>...</td>
      <td>...</td>
    </tr>
    <tr>
      <th>365</th>
      <td>18</td>
      <td>1</td>
    </tr>
    <tr>
      <th>366</th>
      <td>18</td>
      <td>1</td>
    </tr>
    <tr>
      <th>367</th>
      <td>17</td>
      <td>0</td>
    </tr>
    <tr>
      <th>368</th>
      <td>18</td>
      <td>1</td>
    </tr>
    <tr>
      <th>369</th>
      <td>18</td>
      <td>1</td>
    </tr>
    <tr>
      <th>370</th>
      <td>19</td>
      <td>1</td>
    </tr>
    <tr>
      <th>371</th>
      <td>18</td>
      <td>1</td>
    </tr>
    <tr>
      <th>372</th>
      <td>17</td>
      <td>0</td>
    </tr>
    <tr>
      <th>373</th>
      <td>17</td>
      <td>0</td>
    </tr>
    <tr>
      <th>374</th>
      <td>18</td>
      <td>1</td>
    </tr>
    <tr>
      <th>375</th>
      <td>18</td>
      <td>1</td>
    </tr>
    <tr>
      <th>376</th>
      <td>20</td>
      <td>1</td>
    </tr>
    <tr>
      <th>377</th>
      <td>18</td>
      <td>1</td>
    </tr>
    <tr>
      <th>378</th>
      <td>18</td>
      <td>1</td>
    </tr>
    <tr>
      <th>379</th>
      <td>17</td>
      <td>0</td>
    </tr>
    <tr>
      <th>380</th>
      <td>18</td>
      <td>1</td>
    </tr>
    <tr>
      <th>381</th>
      <td>18</td>
      <td>1</td>
    </tr>
    <tr>
      <th>382</th>
      <td>17</td>
      <td>0</td>
    </tr>
    <tr>
      <th>383</th>
      <td>19</td>
      <td>1</td>
    </tr>
    <tr>
      <th>384</th>
      <td>18</td>
      <td>1</td>
    </tr>
    <tr>
      <th>385</th>
      <td>18</td>
      <td>1</td>
    </tr>
    <tr>
      <th>386</th>
      <td>18</td>
      <td>1</td>
    </tr>
    <tr>
      <th>387</th>
      <td>19</td>
      <td>1</td>
    </tr>
    <tr>
      <th>388</th>
      <td>18</td>
      <td>1</td>
    </tr>
    <tr>
      <th>389</th>
      <td>18</td>
      <td>1</td>
    </tr>
    <tr>
      <th>390</th>
      <td>20</td>
      <td>1</td>
    </tr>
    <tr>
      <th>391</th>
      <td>17</td>
      <td>0</td>
    </tr>
    <tr>
      <th>392</th>
      <td>21</td>
      <td>1</td>
    </tr>
    <tr>
      <th>393</th>
      <td>18</td>
      <td>1</td>
    </tr>
    <tr>
      <th>394</th>
      <td>19</td>
      <td>1</td>
    </tr>
  </tbody>
</table>
<p>395 rows × 2 columns</p>
</div>

### Step 10. Multiply every number of the dataset by 10. 
##### I know this makes no sense, don't forget it is just an exercise

In [88]:
def multiplier(x):
    if type(x) == np.int:
        return x * 10
    else:
        return x
    
df.applymap(multiplier).iloc[:, 1:10].head(5)

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>sex</th>
      <th>age</th>
      <th>address</th>
      <th>famsize</th>
      <th>Pstatus</th>
      <th>Medu</th>
      <th>Fedu</th>
      <th>Mjob</th>
      <th>Fjob</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>F</td>
      <td>180</td>
      <td>U</td>
      <td>GT3</td>
      <td>A</td>
      <td>40</td>
      <td>40</td>
      <td>AT_HOME</td>
      <td>TEACHER</td>
    </tr>
    <tr>
      <th>1</th>
      <td>F</td>
      <td>170</td>
      <td>U</td>
      <td>GT3</td>
      <td>T</td>
      <td>10</td>
      <td>10</td>
      <td>AT_HOME</td>
      <td>OTHER</td>
    </tr>
    <tr>
      <th>2</th>
      <td>F</td>
      <td>150</td>
      <td>U</td>
      <td>LE3</td>
      <td>T</td>
      <td>10</td>
      <td>10</td>
      <td>AT_HOME</td>
      <td>OTHER</td>
    </tr>
    <tr>
      <th>3</th>
      <td>F</td>
      <td>150</td>
      <td>U</td>
      <td>GT3</td>
      <td>T</td>
      <td>40</td>
      <td>20</td>
      <td>HEALTH</td>
      <td>SERVICES</td>
    </tr>
    <tr>
      <th>4</th>
      <td>F</td>
      <td>160</td>
      <td>U</td>
      <td>GT3</td>
      <td>T</td>
      <td>30</td>
      <td>30</td>
      <td>OTHER</td>
      <td>OTHER</td>
    </tr>
  </tbody>
</table>
</div>